/* PORTFÓLIO */

.pagport {
	height: auto;
	display: grid;
	grid-template-areas: 
	"header"
	"contport"
	"foot";
	grid-template-rows: 15vh auto 10vh;
}

.header-site {
	grid-area: header;
}

.topbar {
	grid-area: topbar;
}

.contport {
	grid-area: contport;
	width: 90%;
	max-width: 1400px;
	margin: 0 auto;
}

.thumbnail {
	display: grid;
	grid-template-areas: 
	"prototipo textoprot";
	grid-template-columns: 1fr 2fr;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	max-width: 1600px;
	margin: 0 auto;
	margin-bottom: 2%;
}

.prototipo {
	grid-area: prototipo;
	overflow: hidden;
}

.prototipo img {
	height: 100%;
	width: 100%;
}

.textoprot {
	grid-area: textoprot;
	place-self: center;
	padding: 5% 15%;
}

.textoprot h4 {
	font-family: 'Goldman', cursive;
}

.abrirModal a {
	color: #5912c8;
	cursor: pointer;
	float: right;
	font-size: clamp(0.8rem, 2.5vw, 1.6rem);
}

.gestao {
	margin: 0 auto;	
} 

.gestao hr {
	border: 1.5px solid #5912c8;
}

.gestao iframe {
	border-radius: 10px;
	display: flex;
	margin: 0 auto;
}

.foot {
	grid-area: foot;
}


/* PHONE E TABLET RETRATO */


@media (max-width: 767px) {

	.thumbnail{
		display: grid;
		grid-template-areas: 
		"prototipo"
		"textoprot";
		grid-template-columns: 1fr;
		grid-template-rows: 50vh auto;
		row-gap: 1rem;
		margin-top: 3rem;
	}

	.prototipo {
		width: 80vw;
		margin: 1rem auto;
		border-radius: 10px;
	}

	.gestao {
		width: 85vw;
	} 

	.gestao iframe {
		width: 85vw;
	}

} 
