* {
  	padding: 0;
  	margin: 0;
  	text-decoration: none;
	list-style: none; /*Oculta os pontos da lista*/
	box-sizing: border-box;
	overflow-x: hidden;
}

html {
	font-size: 62.5%;
	scroll-snap-type: y mandatory;
}

body {
	font-family: Roboto, sans-serif;
	line-height: 1.5;
	scroll-snap-type: y mandatory;
}

img {
	height: auto;
	width: 100%;
}

h1 {
	font-size: clamp(2.6rem, 2.5vw, 5.5rem);
	font-weight: 100;
}

h2 {
	font-size: clamp(2.1rem, 2.5vw, 4.2rem);
}

h3 {
	font-size: clamp(1.6rem, 2vw, 2.8rem);
}

h4 {
	font-size: clamp(1.3rem, 2vw, 2.6rem);
	font-weight: 100;
}

h5 {
	font-size: clamp(1.1rem, 2vw, 2.2rem);
}

p {
	font-size: clamp(1rem, 1.5vw, 2rem);
}
